<?xml version="1.0"?>

<!-- gz sim will check /usr/share for models, and there is a GNOME package named 'orca' that lives there. -->
<!-- So, name this model 'orca4' to avoid a conflict. -->
<!-- See: https://answers.gazebosim.org/question/28549/gz_sim_resource_path-includes-usrshare/ -->

<model>
  <name>line_rectangle</name>
  <version>4.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Felix Bueno and Adrian Perez</name>
    <email>fqbueno@up.edu.ph and jvperez2@up.edu.ph</email>
  </author>

  <maintainer email="fqbueno@up.edu.ph">Felix Bueno</maintainer>
  <maintainer email="jvperez2@up.edu.ph">Adrian Perez</maintainer>


  <description>
    rectangle line used for line-following
  </description>
</model>
